@font-face {
    font-family: "cliffy";
    src: url("/docs/fonts/cliffy.eot") format("embedded-opentype"),
    url("/docs/fonts/cliffy.woff2") format("woff2"),
    url("/docs/fonts/cliffy.woff") format("woff");
}

nav a[href="https://deno.land/x/cliffy"]:before,
nav a[href="https://nest.land/package/cliffy"]:before {
    font-family: cliffy !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*color: var(--color-text);*/
    color: #828282;
    font-size: 18px;
    top: 3px;
    position: relative;
}

nav a[href="https://deno.land/x/cliffy"]:before {
    content: "\f101" !important;
}

nav a[href="https://nest.land/package/cliffy"]:before {
    content: "\f102" !important;
}

.badges-container a:hover {
    text-decoration: none;
}
