name: Lint
on:
  push:
    branches: [main]
  pull_request:
jobs:
  lint:
    name: Lint source deno-${{ matrix.runtime.deno-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime:
          - name: deno
            deno-version: v1.x
          - name: deno
            deno-version-file: .deno-version
    env:
      RUST_BACKTRACE: full
      DENO_FUTURE: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.runtime.deno-version }}
          deno-version-file: ${{ matrix.runtime.deno-version-file }}

      - name: Setup shellcheck
        run: >
          wget https://github.com/koalaman/shellcheck/releases/download/v0.7.1/shellcheck-v0.7.1.linux.x86_64.tar.xz &&
          tar -xvf shellcheck-v0.7.1.linux.x86_64.tar.xz &&
          mv shellcheck-v0.7.1/shellcheck . &&
          rm -rf shellcheck-v0.7.1 &&
          chmod +x shellcheck &&
          ./shellcheck --version

      - name: Run linter
        run: deno task lint

      - name: Run bash check
        run: ./shellcheck --shell bash <(deno run -r ./examples/command/shell-completions.ts completions bash)

      - name: Run zsh check
        run: ./shellcheck --shell bash <(deno run -r ./examples/command/shell-completions.ts completions zsh)

      - name: Type-check
        if: matrix.runtime.deno-version == 'v1.x'
        run: deno task check:deno-v1

      - name: Type-check
        if: matrix.runtime.deno-version-file
        run: deno task check
