name: Test
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        runtime:
          - name: deno
            deno-version: v1.x
          - name: deno
            deno-version-file: .deno-version
          - name: node
            node-version-file: .node-version
          - name: bun
            bun-version-file: .bun-version
        os: [macOS-latest, windows-latest, ubuntu-latest]
    env:
      RUST_BACKTRACE: full
      DENO_FUTURE: 1
      CLIFFY_SNAPSHOT_DELAY: 2000
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.runtime.deno-version }}
          deno-version-file: ${{ matrix.runtime.deno-version-file }}

      - name: Create package.json
        if: ${{ matrix.runtime.name == 'node' || matrix.runtime.name == 'bun' }}
        run: deno task setup:${{ matrix.runtime.name }} --no-install

      - name: Setup Node
        if: ${{ matrix.runtime.name == 'node' }}
        uses: actions/setup-node@v4
        with:
          node-version-file: ${{ matrix.runtime.node-version-file }}

      - name: Setup Bun
        if: ${{ matrix.runtime.name == 'bun' }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ${{ matrix.runtime.bun-version-file }}

      - name: Setup pnpm
        if: ${{ matrix.runtime.name == 'node' }}
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Install bun dependencies
        if: ${{ matrix.runtime.name == 'bun' }}
        run: bun install

      - name: Run tests
        if: matrix.runtime.name == 'deno' && matrix.runtime.deno-version == 'v1.x'
        shell: bash
        run: deno task coverage:deno-v1

      - name: Run tests
        if: matrix.runtime.name == 'deno' && matrix.runtime.deno-version-file
        shell: bash
        run: deno task coverage:deno-v2

      - name: Run tests
        if: matrix.runtime != 'deno'
        shell: bash
        run: deno task coverage:${{ matrix.runtime.name }}

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          name: ${{ matrix.runtime.name }}-${{ matrix.os }}
          files: dist/coverage/${{ matrix.runtime.name }}/cov.lcov
          flags: ${{ matrix.runtime.name }}
          token: ${{ secrets.CODECOV_TOKEN }}
